<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="Logo">
                <img src="" alt="Logo">
            </div>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="prductos.html">Nuestros Productos</a></li>
                <li><a href="galeria.html">Galeria</a></li>
            </ul>
        </nav>
        <div class="title">
            <h1>Contactanos</h1>
        </div>
    </header>
    <main>
        <div class="fromulario">
            <form action="" method="post">
                <label for="nombre">Nombre Completo</label>
                <input type="text" id="nombre" value="">
                <label for="email">Tu Email</label>
                <input type="text" id="email" value="">
                <label for="descripcion">Por que nos contactas?</label>
                <textarea id="descripcion" id="" cols="30" rows="10"></textarea>
                <button type="submit">Enviar</button>
                <button type="reset">Limpiar formulario</button>
            </form>
        </div>
    </main>
</body>
</html>