<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Galeria</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="Logo">
            <img src="" alt="Logo">
        </div>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="prductos.html">Nuestros Productos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="login.html">Mi Cuenta</a></li>
        </ul>
        <div class="title">
            <h1>Nuestra Galeria</h1>
        </div>
    </header>
    <main>
        <div class="gallery">
            <img src="" alt="img 1">
            <img src="" alt="img 2">
            <img src="" alt="img 3">
            <img src="" alt="img 4">
            <img src="" alt="img 5">
            <img src="" alt="img 6">
            <img src="" alt="img 7">
            <img src="" alt="img 8">
            <img src="" alt="img 9">
            <img src="" alt="img 10">
        </div>
    </main>
</body>
</html>