<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flora</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Wix+Madefor+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="Logo">
                <img src="" alt="Logo">
            </div>
            <ul>
                <li><a href="prductos.html">Nuestros Productos</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li class="login"><a href="login.html">Mi Cuenta</a></li>
            </ul>
            <div class="title_index">
                <h1>Flora</h1>
                <h2>Tu casa con onda</h2>
            </div>
        </nav>
    </header>
    <main>
        <section id="articulos_main">
            <h2>Productos</h2>
            <article>
                <h3>Producto 1</h3>
                <p>DESCRIPCION DEL ARTICULO</p>
            </article>
            <article>
                <h3>Producto 2</h3>
                <p>DESCRIPCION DEL ARTICULO</p>
            </article>
        </section>
        <section id="novedades_main">
            <h2>Noticias</h2>
            <article>
                <h3>Titulo de la noticia</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At rerum corrupti mollitia? Temporibus similique maxime culpa soluta! Et vitae libero placeat iste fuga, explicabo, laboriosam molestias, ipsam minus eius ea.</p>
            </article>
            <article>
                <h3>Titulo de la noticia</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam similique molestias, perferendis fugit suscipit repellat voluptatibus necessitatibus nulla. Dolor vero enim voluptatibus in eius corrupti excepturi aspernatur, voluptas odio dicta?</p>
            </article>
        </section>
    </main>
</body>
</html>