<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="volver_atras">
            <a href="javascript:history.back">Volver Atras</a>
        </div>
    </header>
    <main>
        <div class="title">
            <h2>INGRESÁ</h2>
        </div>
        <div>
            <form action="" method="post">
                <label for="email">Tu email</label>
                <input type="text" id="email">
                <label for="password">Contraseña</label>
                <input type="password" id="password">
            </form>
        </div>
    </main>
</body>
</html>