:root {
  --white: #fdfdfd;
  --black: #1a1a1a;
  --very-light-grey: #bebebe;
  --very-light-pink: #a5a5a5;
  --lavanda: #bca3cc;
  --ligth-lavanda: #efd4ff;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  font-family: 'Barlow Condensed', sans-serif !important;
  font-size: large;
  font-weight: bold !important;
  font-style: normal;
  overflow: auto;
  background-color: var(--white) !important;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 237%2c 240%2c 1)'%3e%3c/rect%3e%3cpath d='M958.292%2c453.753C1001.214%2c452.721%2c1036.628%2c423.967%2c1058.063%2c386.766C1079.46%2c349.63%2c1084.555%2c305.625%2c1065.865%2c267.056C1044.391%2c222.74%2c1007.536%2c181.097%2c958.292%2c180.872C908.786%2c180.646%2c871.638%2c222.036%2c849%2c266.064C828.463%2c306.005%2c827.252%2c352.959%2c849.852%2c391.771C872.307%2c430.334%2c913.681%2c454.825%2c958.292%2c453.753' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M831.973%2c482.661C862.458%2c481.571%2c888.674%2c465.3%2c906.076%2c440.247C927.035%2c410.073%2c947.304%2c373.232%2c930.772%2c340.423C913.167%2c305.483%2c871.096%2c292.833%2c831.973%2c293.178C793.53%2c293.517%2c754.659%2c308.445%2c736.15%2c342.14C718.186%2c374.844%2c727.061%2c415.07%2c748.083%2c445.898C766.519%2c472.933%2c799.271%2c483.831%2c831.973%2c482.661' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M319.472%2c318.572C354.13%2c317.336%2c381.302%2c293.444%2c399.842%2c264.136C420.153%2c232.029%2c438.239%2c193.022%2c419.963%2c159.715C401.241%2c125.596%2c358.284%2c114.795%2c319.472%2c117.667C285.52%2c120.18%2c259.248%2c143.655%2c241.816%2c172.899C223.843%2c203.05%2c212.01%2c239.269%2c228.522%2c270.244C245.831%2c302.714%2c282.699%2c319.883%2c319.472%2c318.572' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M319.4568651947311 113.62914277862515L435.02021051147466 49.71523252346881 337.12042494618106-11.459343034778328z' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M547.198%2c315.275C592.321%2c314.261%2c634.393%2c293.15%2c658.077%2c254.729C683.031%2c214.248%2c690.038%2c163.155%2c666.412%2c121.885C642.656%2c80.387%2c594.945%2c63.626%2c547.198%2c61.044C493.252%2c58.127%2c431.232%2c61.388%2c403.344%2c107.659C374.918%2c154.822%2c395.972%2c214.653%2c427.334%2c259.916C454.199%2c298.688%2c500.04%2c316.335%2c547.198%2c315.275' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M43.3433133519873 63.9392524636836L101.82352363635967 195.6255656049234 177.6252396896018 95.0332908465276z' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M888.4374896808952 350.98093848895877L992.6341160523996 376.960075245163 979.5045080009537 207.6755673098043z' fill='rgba(118%2c 28%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
}
main{
  margin: 80px !important;
}
footer{
  background-color: #FFFFFF;
}
.inactive {
  display: none;
}
.card-body {
  background-color: #FCF9EE;
}

/* NAV BAR */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 0.1px solid var(--very-light-grey);
}
.navbar-brand{
  font-size: 45px !important;
  font-weight: lighter !important;
  padding-right: 30px;
  padding-left: 45px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: var(--lavanda) !important;
}
.nav-item{
  font-size: 20px !important;
  padding: 20px;
  font-weight:bolder;
}
.nav-item a{
  color: var(--lavanda) !important;
}
.navbar-nav.ml-auto {
  margin-left: auto;
  padding-right: 20px;
  font-size: 20px !important;
  padding: 0px 20px;
}
.navbar .navbar-toggler-icon{
  color: red !important;
}
.nav-item {
  padding: 0px 20px !important;
}
.nav-login img {
  width: 30px;
  height: 30px;
  color: var(--lavanda);
}

/* FOOTER */
.footer {
  border-top: 0.1px solid var(--very-light-grey);
}
/* INDEX */
/* Prueba Cards */
* {
  margin: 0;
  padding: 0;
}
.title-context {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16667;
  margin: 4rem 0 0 1.5rem;
}
.title-context span {
  color: #6e6e73;
}
.container {
  display: flex;
  overflow-x: auto; /* Creamos un div scrollable de forma horizontal */
  scrollbar-width: none; /* Escondemos la scrollbar en Firefox */
  padding: 1.5rem 0; 
}
.grid::-webkit-scrollbar {
  display: none; /* Escondemos la scrollbar en Chrome, Safari y Edge */
}
.card {
  position: relative; /* Esta posición para poder posicionar el texto de la clase "body" */
  flex: 0 0 309px; /* flex grow 0 para que todas ocupen el mismo espacio, flex-shrink 0 para que no se encojan y flex-basis 309px de ancho. */
  height: 450px;
  overflow: hidden; /* Para poder ver el borde redondeado */
  margin-left: 1.5rem;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Añade una transición suave para todos los cambios */
}
.image {
  width: 100%;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}
.card:hover .image {
  filter: grayscale(100%); /* Hace que la imagen se vea en escala de grises al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse */
  filter: grayscale(0%);
}
.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  font-weight: 600;
  text-align: center;
  white-space: normal;
}
.titulo-categoria {
  font-size: 40px; /* Aumenta el tamaño del título de la categoría */
  font-weight: 800; /* Ajusta el grosor del título de la categoría */
  text-align: center; /* Centra el título de la categoría */
  margin: auto; /* Ajusta el margen del título de la categoría */
  color: #292929; /* Cambia el color del título para hacerlo más visible */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text {
  font-size: 20px; /* Ajusta el tamaño del texto de la descripción */
  font-weight: 500; /* Ajusta el grosor del texto de la descripción */
  text-align: center; /* Centra el texto de la descripción */
  color: #292929;
  display: none;
}

/* Nosotros */
.about-section {
  padding: 50px 0;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}
/* Carrusel */
.carousel-control-prev,
.carousel-control-next {
  /* background-color: var(--black) !important; */
  color: var(--black) !important; /* Cambia "yourTextColor" al color del texto que prefieras */
  opacity: 0.1; /* Ajusta la opacidad según tus preferencias */
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--ligth-lavanda);
  opacity: 0.01;
}
/* TITULOS */
.h1{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
  font-weight: bold;
}
h1, h2 {
  text-align: center;
  margin-top: 20px;
  padding: 30px;
  font-weight:bold;
}

/* GALERIA */
.text-center p{
  color: grey;
}
#galeria img{
  width: 100%;
  height: 250px;
}
#galeria .col-lg-4{
  padding: 20px;
  margin: 0 !important;
}
#galeria img{
  border-radius: 10px;
}
#galeria img:hover{
  border: 7px solid rgba(0, 0, 0, 0.05);
}
.gallery-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

/* CONTACTO */
.titulo-contacto{
  padding-top: 20px;
}
.fromulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fromulario label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.fromulario input,
.fromulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.fromulario button {
  background-color: #bda1a1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fromulario button[type="reset"] {
  background-color: #e2e1e1;
}

/* ECOMMERCE */
/* Estilos para el botón de filtro */
.filtro-button {
  position: fixed;
  top: 150px;
  left: 40px; 
  background-color: #f3f3f3;
  padding: 10px;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  z-index: 1000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.filtro-button:hover {
  background-color: #cecece;
}
.filtro-button img {
  width: 24px; 
  height: 24px; 
  display: block; 
  margin: 0 auto; 
}
/* Productos del ecommerce */
.contenedor-ecommerce {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  padding-top: 60px;
}
.producto-card {
  width: 240px;
}
.producto-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.producto-card .producto-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.producto-card .producto-info figure {
  margin: 0;
}
.producto-card .producto-info figure img {
  width: 35px;
  height: 35px;
}
.producto-card .producto-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.producto-card .producto-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
/* Detalle del producto */
.contenedor-detalle-producto{
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
aside {
  background-color: var(--white);
  width: 380px;
  box-sizing: border-box;
  position: fixed;
  top: 95px;
  padding: 20px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.producto-detalle-cierre {
  background: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.producto-detalle-cierre:hover {
  cursor: pointer;
}
#detalle-producto > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
}
#detalle-producto:hover{
  cursor: pointer;
}
#detalle-producto .producto-detalle-cierre {
  margin: 24px 24px 0 24px;
}
#detalle-producto .producto-info-detalle p:nth-child(1) {
  font-weight: bold;
  font-size: var(--lg);
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 0 20px 0px 20px;
}
#detalle-producto .producto-info-detalle p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--lg);
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
}
#detalle-producto .producto-info-detalle p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}
.boton-primario {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 40px;
  margin: auto;
}
.agregar-al-carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

/* Filtro Modal */
.filtro-modal {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 110px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.close-button span {
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* LOGIN */
.main-login {
  align-items: center;
  text-align: center;
}
.container-login {
  width: 30%;
  height: 30%;
  padding: 70px;
  margin: 100px auto;
  display: flexbox;
}
.email-login {
  padding: 10px;
}
.password-login {
  padding: 10px;
}
.button-login {
  background-color: #DAC5DB;
}

/* NOTICIAS */

.noticia {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-bottom: 40px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
}

/* Estilos para los títulos de las noticias */
.noticia h2 {
  font-size: 40px;
  margin-top: 0;
  color: #333;
}

/* Estilos para los párrafos de las noticias */
.noticia p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  color: #666;
  padding-bottom: 30px;
}

/* Estilos para las imágenes de las noticias */
.noticia img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

/* Estilos para las publicaciones de Instagram */
.noticia .instagram {
  margin: 10px 0;
}

/* Estilos para los mapas de Google */
.noticia .mapa {
  margin: 10px 0;
  right: auto;
}

/* Estilos para hacer que los mapas y las publicaciones de Instagram sean responsivos */
.noticia iframe {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 500px;
  height: 300px;
}


@media screen and (max-width: 640px) {
  #menu-toggle:checked ~ .nav-menu {
    display: flex;
  }
  .navbar-brand{
    padding-right: 0px;
    padding-left: 10px;
  }

  .card {
    width: 100%;
  }

  .contenedor-ecommerce {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .contenedor-productos {
    flex-direction: column;
    align-items: center;
  }

  .producto img {
    width: 100%;
    height: auto;
  }

  .fromulario {
    max-width: 100%;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row img{
    display: flexbox;
    height: auto;
    width: auto;
  }

  .col-lg-4 {
    width: 33.3333%; /* Divide en 3 columnas */
  }

  .video-container {
    padding-bottom: 56.25%;
  }

  .video-container video {
    width: 100%;
    height: 100%;
  }

  .container-login {
    width: 80%;
    padding: 20px;
  }
  .iframes {
    width: 30px;
    height: 30px;
  }
  .sidebar{
    display: none;
    padding: 0;
  }
  main{
    margin: 0 !important;
  }
  .aside {
    width: 100%;
  }
  .producto-card {
    width: 170px;
  }
  .producto-card img {
    width: 170px;
    height: 170px;
  }
  #detalle-producto {
    width: 100%;
    padding: 20px;
  }
  #detalle-producto > img:nth-child(2) {
    width: auto; /* Ancho automático para evitar que se expanda o contraiga */
    max-width: 100%; /* Establece un ancho máximo */
    height: auto; /* Altura automática para mantener la proporción */
  }
  .filtro-button{
    left: 15px;
    top: 180px;
  }
  .noticias-container{
    display: flex;
    flex-wrap: wrap;
  }
  .noticia {
    width: 100%;
  }
  .card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
  }
}

/* Carrusel INDEX*/

#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.level-2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  left: 650px;
  margin-top: 25px;
}

.level-1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796E5;
  left: 500px;
  margin-top: 10px;
}

.level0 {
  height: 200px;
  width: 150px;
  line-height: 200px;
  background-color: #4EC9E1;
  left: 330px;
}

.level1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796E5;
  margin-top: 10px;
  left: 180px;
}

.level2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  margin-top: 25px;
  left: 50px;
}

.left-enter {
  opacity: 0;
  left: 630px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 670px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 660px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
  left: 650px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: 630px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;  
  user-select: none;
}