body {
    font-family: 'Barlow Condensed', sans-serif !important;
    font-size: large;
    font-weight: bold !important;
    font-style: normal;
    height: 3000;
    overflow: auto;
    margin: auto;
    background: rgb(255,220,255);
    background: linear-gradient(90deg, rgba(255,220,255,1) 0%, rgba(255,195,206,1) 50%, rgba(255,243,208,1) 100%);
}

/* NAV BAR */
.navbar-brand{
  font-size: 60px !important;
  font-weight: lighter !important;
  padding-right: 0px;
  padding-left: 20px;
}

.nav-item{
  font-size: 20px !important;
  padding: 15px;
  font-weight:bolder;
}

.navbar-nav.ml-auto {
  margin-left: auto; /* Ajusta el margen izquierdo según lo necesario */
  padding-right: 20px;
  font-size: 20px !important;
  padding: 20px;
}

/* TITULOS */
h1, h2 {
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    font-weight:bold;
}
#galeria img{
  width: 100%;
  height: 250px;
}
#galeria .col-lg-4{
  padding: 20px;
  margin: 0 !important;
}
#galeria img:hover{
  border: 5px solid rgba(0, 0, 0, 0.1);
}

/* Contacto */
.fromulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 55px;
  background-color: #f8f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fromulario label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.fromulario input,
.fromulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.fromulario button {
  background-color: #bda1a1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fromulario button[type="reset"] {
  background-color: #cecece;
}

/* CATALOGO */
.shop{
  display: flex;
}

.search-shop {
  width: 100%;
  max-width: 230px;
  min-width: 200px;
  text-align: center;
  background-color: #fae6e6;
  position: static;
}

.contenedor-shop ul {
min-height: 285px;
justify-content: center;
list-style-type: none;
display: flex;
padding: 40px 20px;
}

.contenedor-shop ul li {
  flex-direction: column;
  max-width: 32%;
}

.producto-shop{
  align-items: center;
  text-align: center;
}
.producto-shop img {
  width: 90%;
  height: auto;
}

/* LOGIN */
.main-login {
  align-items: center;
  text-align: center;
}

.container-login {
  width: 30%;
  height: 30%;
  padding: 70px;
  margin: 100px auto;
  border: solid 1px #DBC5C8;
  background-color: #FAE4E1;
  display: flexbox;
}

.email-login {
  padding: 10px;
}
.password-login {
  padding: 10px;
}

.button-login {
  background-color: #DAC5DB;
}

.noticia{
  padding: 30px;
  align-items: baseline;
  align-content: center;
}

.noticia-titulo{
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  #menu-toggle:checked ~ .nav-menu {
    display: flex;
  }

  .title {
    padding: 20px;
  }

  .card {
    width: 100%;
  }

  .contenedor-productos {
    flex-direction: column;
    align-items: center;
  }

  .producto img {
    width: 100%;
    height: auto;
  }

  .fromulario {
    max-width: 100%;
    padding: 20px;
  }

  .container-gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    max-width: 100%;
    padding: 10px;
  }

  .video-container {
    padding-bottom: 56.25%;
  }

  .video-container video {
    width: 100%;
    height: 100%;
  }

  .container-login {
    width: 80%;
    padding: 20px;
  }
  .iframes {
    width: 30px;
    height: 30px;
  }
}